# Ignore node_modules (will be re-installed in container anyway)
node_modules

# Ignore npm debug log
npm-debug.log

# Ignore local env files
.env

# Ignore git files
.git
.gitignore

# Ignore Dockerfile artifacts
Dockerfile*
.dockerignore

# Ignore tests & docs if not needed in prod
tests
docs

# Ignore OS/editor junk
.DS_Store
*.swp
